In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline 
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error

In [3]:
df = pd.read_csv('dataset/melb_data.csv')
df.head()
sns.set_style('darkgrid')
pd.set_option('display.max_columns', None)

In [4]:
df = df[['Rooms', 'Distance', 'Landsize', 'BuildingArea', 'YearBuilt', 'Price']]
df.head()

   Rooms  Distance  Landsize  BuildingArea  YearBuilt      Price
0      2       2.5     202.0           NaN        NaN  1480000.0
1      2       2.5     156.0          79.0     1900.0  1035000.0
2      3       2.5     134.0         150.0     1900.0  1465000.0
3      3       2.5      94.0           NaN        NaN   850000.0
4      4       2.5     120.0         142.0     2014.0  1600000.0

In [5]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [6]:
xgb = XGBRegressor(n_estimators=1000, learning_rate=0.05, n_jobs=4)
xgb.fit(X_train, y_train)
pred = xgb.predict(X_test)

In [7]:
print("Mean Absolute Score is: ", mean_absolute_error(y_test, pred))
print("R2 Score is: ", r2_score(y_test, pred))

Mean Absolute Score is:  244166.85807376602
R2 Score is:  0.6271775651051935